n8n/workflows/Health_Status_With_Webhook.json
{
    "name": "Teams Health Monitor",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {}
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -300,
                0
            ],
            "id": "schedule",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "url": "https://sdv.n8n.app.corpintra.net/healthz",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                -50,
                0
            ],
            "id": "health",
            "name": "Health Check"
        },
        {
            "parameters": {
                "functionCode": "const status = $json.status || 'UNKNOWN';\nconst isHealthy = status.toLowerCase() === 'ok' || status.toLowerCase() === 'up';\n\nreturn [{\n  status,\n  color: isHealthy ? 'good' : 'attention',\n  emoji: isHealthy ? '✅' : '❌',\n  time: new Date().toISOString()\n}];"
            },
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                120,
                0
            ],
            "id": "transform",
            "name": "Prepare Data"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://corpdir.webhook.office.com/webhookb2/3291a55f-ec36-4026-8051-ae0da9e0f776@9652d7c2-1ccf-4940-8151-4a92bd474ed0/IncomingWebhook/97bb54f240f44ef7a458a28e96bb45d9/8f970b82-7b30-449b-98ff-f5b282d6c5f9/V2nBdryzYB4PB-aY3vXWdKhELtBdnk8SrAGxfPaj15g6k1",
                "sendBody": true,
                "contentType": "json",
                "body": {
                    "type": "message",
                    "summary": "Service health status",
                    "text": "Health check notification",
                    "attachments": [
                        {
                            "contentType": "application/vnd.microsoft.card.adaptive",
                            "content": {
                                "type": "AdaptiveCard",
                                "version": "1.2",
                                "body": [
                                    {
                                        "type": "TextBlock",
                                        "size": "Large",
                                        "weight": "Bolder",
                                        "text": "🚦 Service Health Monitor"
                                    },
                                    {
                                        "type": "TextBlock",
                                        "text": "{{$json.emoji}} Status: {{$json.status}}",
                                        "weight": "Bolder",
                                        "color": "{{$json.color}}",
                                        "size": "Medium"
                                    },
                                    {
                                        "type": "FactSet",
                                        "facts": [
                                            {
                                                "title": "Service:",
                                                "value": "n8n Health Endpoint"
                                            },
                                            {
                                                "title": "Checked at:",
                                                "value": "{{$json.time}}"
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                350,
                0
            ],
            "id": "teams",
            "name": "Send to Teams"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Health Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Health Check": {
            "main": [
                [
                    {
                        "node": "Prepare Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Data": {
            "main": [
                [
                    {
                        "node": "Send to Teams",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}